@{
    ViewBag.Title = "Kategoriler";
    var kategoriler = ViewBag.Kategoriler as List<TBBEgitim.Models.Kategoriler>;
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css" />
<link rel="stylesheet" href="~/Styles/Tablolar/tabloStyle.css" />
<main aria-labelledby="kategoriler">
    <h2 id="kategoriler">@ViewBag.Title</h2>
    <table class="table table-striped" id="kategorilerTable">
        <thead id="tablo-başlık">
            <tr>
                <th>Kategori Adı</th>
                <th>Web Sitesi</th>
            </tr>
        </thead>
        <tbody class="tablo-içerik">
            @foreach (var item in kategoriler)
            {
                <tr>
                    <td>@item.kategoriAdi</td>
                    <td><a href="@item.webSite" target="_blank">@item.webSite</a></td>
                </tr>
            }
        </tbody>
    </table>

</main>

@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
    <script>
        var table = new DataTable('#kategorilerTable', {
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf']
                }
            },
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/tr.json',
            },
        });
    </script>
}
